@font-face {
    font-family: 'AsapRegular';
    src: url('../fonts/Asap-Regular.ttf');
}
@font-face {
    font-family: 'AsapBold';
    src: url('../fonts/Asap-Bold.ttf');
}

@font-face {
    font-family: 'InterRegular';
    src: url('../fonts/Inter-Regular.ttf');
}
@font-face {
    font-family: 'InterBold';
    src: url('../fonts/Inter-Bold.ttf');
}
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}
h1{
    margin: 0;
    line-height: none!important;
    line-height: unset!important;
}
html{
  overflow-x: hidden;
}

a{
    text-decoration: none!important;
    color: unset!important;
  }
body{
    background-color: #ecebf3;
}



.header-feed{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.header-feed .div-logos{


height: 60px;
display: flex;
justify-content: flex-start;
align-items: center;


}
.header-feed .div-logos .logo-marca img{
height: 35px;
width: 35px;


} 

.header-feed .div-logos .logo-tipo h1{
  font-family: 'AsapBold';
  font-style: normal;
  font-weight: 500;
  font-size: 25.471px;
  line-height: 29px;
  margin: 0;
  color: #664187;
  margin-left: 5px;
  
  
  } 
  .header-feed .feed-perfil .box-img-perfil-feed img{
  border-radius: 50%;
  width: 45px;
  height: 45px;
  border: 0.902439px solid #664187;
  box-shadow: 0px 1.43689px 1.43689px rgba(0, 0, 0, 0.25);
  }



.sidebar{
    display: flex;
    justify-content: center;
    width: 300px;
    background-color: #d4d3de;
    border-right: 1px solid #d1cdcd;
    position: fixed;
    height: 100%;
    box-sizing: border-box;
}

.sidebar .sidebar-box{
    margin-top: 25px!important;
}

.sidebar .sidebar-box .logos{
    font-family: 'InterBold';
    font-style: normal;
    font-weight: 700;
    font-size: 3.1rem;
    line-height: 58px;
    color: #664187;
}
.sidebar .sidebar-box .logos h1{
  margin-top: 10px;
}

.sidebar .sidebar-box .list-group-box {
    margin-top: 20px;
}

.sidebar .sidebar-box .list-group-box .list-group-item{
    background-color: transparent!important;
    border: 0!important;
}

.sidebar .sidebar-box .list-group-box button{
    background-color: #D4D3DE;
    border: 0!important;
    font-family: 'InterRegular';
    font-style: normal;
    font-weight: 800;
    font-size: 0.9rem;
    line-height: 18px;  
    cursor: pointer;
    color: #202024;
    width: 260px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 10px;
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position-y: center ;
    background-position-x: 15px ;
    border-radius: 15px;
    
    
 
 
}
.sidebar .sidebar-box .list-group-box button img{
  transition: background-color 0.4s ease;
}

.sidebar .sidebar-box .list-group-box button img:hover{
  background-color: #ffffff;
}


#eventos {
    background-image: url('../img/icone-calendario.png');
    
    
  }
  
  #eventos:hover{
    background-image: url('../img/icon-calendario-branco.svg')
  }
  #inicio {
    background-image: url('../img/icone-home.png');
    
  }
  #inicio:hover{
    background-image: url('../img/icon-home-branco.svg')
  }
 
  #descobrir {
    background-image: url('../img/icone-descobrir.png');
  }
  #descobrir:hover{
    background-image: url('../img/icon-pesquisar-branco.svg')
  }
  #notificacoes {
    background-image: url('../img/icone-notificacao.png'); 
  }
  #notificacoes:hover{
    background-image: url('../img/icon-notificacao-branco.svg')
  }
  #configuracoes {
    background-image: url('../img/icone-configuracoes.png');
  }
  #configuracoes:hover{
    background-image: url('../img/icon-configuracoes-branco.svg')
  }
  #amigos {
    background-image: url('../img/icone-pessoa.png');
  }
  #amigos:hover{
    background-image: url('../img/icon-pessoa-branco.svg')
  }

  #nova-pub{
    background-image: url('../img/icone-pincel.png');
  }
  

.list-group-box button:hover {
    background-color: #664187!important;
    color: #ffffff!important;
   
  }
  .list-group-box button img:hover {
    background-color: #664187!important;
    color: #ffffff!important;
    
   
  }
.nova-pub{
    margin-top: 15px;

}
.nova-pub .btn-nova-pub{
    width: 267px;
    height: 41.22px;
    background-color: #664187;
    box-shadow: 5.37636px 5.37636px 5.37636px rgba(0, 0, 0, 0.25);
    border-radius: 11.6113px;
    border: 0;
    font-weight: 600;
font-size: 0.8rem;
line-height: 18px;
font-family: 'InterRegular';
background-repeat: no-repeat;
background-position-y: center ;
background-position-x: 15px ;
border-radius: 15px;
}

.nova-pub #nova-pub:hover{
    background-color: #5e3086;
    color: #dbdbdb;
    
}


.custom-btn-item:hover{
    background-color: #664187!important;
}

.btn-sair{
    margin-top: 50px;
    height: 40px;
    width: 90px;
    background-color: none!important;
    font-family: 'InterBold';
  }
  .btn-sair h1{
    font-weight: 600;
    font-size: 1.4rem;
    color: #202024;
    margin-top: 7px;
    
  }
  .btn-sair img {
    width: 32px;
    height: 32px;
  } 
  
  .box{
    margin-left: 300px;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
   font-family: 'Poppins';
   flex-direction: column;
    padding: 35px;
    height: 50vh;
    
    
    
   
  }

  .box form .voltar-conteudo{
display: flex;
width: 100%;
justify-content: space-between;
margin-bottom: 15px;
  }



  .box .voltar img{
    width: 30px;
  }

  .box form{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  form .btn-entrar{
    display: flex!important;
flex-direction: row!important;
justify-content: center!important;
align-items: center!important;
color: #ffffff;
font-weight: 500;
font-size: 16px;
height: 43px!important;
border: 0;
background: #664187!important;
border-radius: 10px!important;
border-radius: 4px!important;
text-transform: none!important;
font-weight: 600!important;
  }


  form input:focus{
    border: 1px solid #664187!important;
    box-shadow: none!important;
  }

 

  .box .titulo-config h1 {
    font-weight: 600;
    font-size: 20px;

  }




  .box .lista-itens-config {
    width: 100%;
    
  }

  .box .lista-itens-config .lista-config li {
    list-style: none;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    
  }

  .box .lista-itens-config .lista-config li h1 {
    background-color: none;
    border: 0;
    text-align: start;
    font-weight: 600;
    background-repeat: no-repeat;
    width: 100%;
    background-position-y: center;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
   
    
  }



  
  .box .lista-itens-config .lista-config .item-config h2{
    list-style: none;
    margin: 0;
    font-weight: 500;
    font-size: 20px;
  }




/*------------------------------- NAVBAR MOBILE --------------------------*/

  .mobile-nav {
   
    position: fixed;
    bottom: 0;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    }
    
    .bloc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .bloc-icon img {
    width: 30px;
    }

  @media screen and (min-width: 980px) {
    .mobile-nav {
    display: none;
    }

   
  }
    

  @media screen and (max-width: 980px) {
    .sidebar{
    display: none;
    }

    .sidebar-config{
      display: none;
    }

    .secoes-config{
      display: none;
    }
    body{
      overflow: hidden;
    }

    .box{
      flex-direction: column;
      margin: 0;
      
     }
  }